In [27]:
# Import libraries
import pandas as pd
import numpy as np

In [28]:
#load the dataset
df = pd.read_csv('GlobalWeatherRepository.csv')

In [7]:
# View basic info
print(df.shape)

(89833, 41)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89833 entries, 0 to 89832
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       89833 non-null  object
 1   location_name                 89833 non-null  object
 2   latitude                      89833 non-null  float64
 3   longitude                     89833 non-null  float64
 4   timezone                      89833 non-null  object
 5   last_updated_epoch            89833 non-null  int64
 6   last_updated                  89833 non-null  object
 7   temperature_celsius           89833 non-null  float64
 8   temperature_fahrenheit        89833 non-null  float64
 9   condition_text                89833 non-null  object
 10  wind_mph                      89833 non-null  float64
 11  wind_kph                      89833 non-null  float64
 12  wind_degree                   89833 non-null  int64
 13  wind_direction                89833 non-null  object
 14  pressure_mb                   89833 non-null  float64
 15  pressure_in                   89833 non-null  float64
 16  precip_mm                     89833 non-null  float64
 17  precip_in                     89833 non-null  float64
 18  humidity                      89833 non-null  int64
 19  cloud                         89833 non-null  int64
 20  feels_like_celsius            89833 non-null  float64
 21  feels_like_fahrenheit         89833 non-null  float64
 22  visibility_km                 89833 non-null  float64
 23  visibility_miles              89833 non-null  float64
 24  uv_index                      89833 non-null  float64
 25  gust_mph                      89833 non-null  float64
 26  gust_kph                      89833 non-null  float64
 27  air_quality_Carbon_Monoxide   89833 non-null  float64
 28  air_quality_Ozone             89833 non-null  float64
 29  air_quality_Nitrogen_dioxide  89833 non-null  float64
 30  air_quality_Sulphur_dioxide   89833 non-null  float64
 31  air_quality_PM2.5             89833 non-null  float64
 32  air_quality_PM10              89833 non-null  float64
 33  air_quality_us-epa-index      89833 non-null  int64
 34  air_quality_gb-defra-index    89833 non-null  int64
 35  sunrise                       89833 non-null  object
 36  sunset                        89833 non-null  object
 37  moonrise                      89833 non-null  object
 38  moonset                       89833 non-null  object
 39  moon_phase                    89833 non-null  object
 40  moon_illumination             89833 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 28.1+ MB

In [ ]:
df.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

In [26]:
df.tail()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination,year,month
89828,Venezuela,Caracas,10.5000,-66.9167,America/Caracas,1755764100,2025-08-21 04:15:00,17.6,63.7,Clear,...,1,2,06:18 AM,06:43 PM,04:45 AM,05:45 PM,Waning Crescent,5,2025,8
89829,Vietnam,Hanoi,21.0333,105.8500,Asia/Bangkok,1755764100,2025-08-21 15:15:00,28.0,82.4,Moderate or heavy rain in area with thunder,...,4,10,05:38 AM,06:22 PM,03:25 AM,05:10 PM,Waning Crescent,7,2025,8
89830,Yemen,Sanaa,15.3547,44.2067,Asia/Aden,1755763200,2025-08-21 11:00:00,21.6,70.9,Patchy rain nearby,...,2,3,05:50 AM,06:23 PM,03:54 AM,05:14 PM,Waning Crescent,7,2025,8
89831,Zambia,Lusaka,-15.4167,28.2833,Africa/Lusaka,1755763200,2025-08-21 10:00:00,23.4,74.2,Sunny,...,1,2,06:20 AM,06:00 PM,04:57 AM,04:28 PM,Waning Crescent,6,2025,8
89832,Zimbabwe,Harare,-17.8178,31.0447,Africa/Harare,1755763200,2025-08-21 10:00:00,21.8,71.3,Sunny,...,3,7,06:11 AM,05:47 PM,04:50 AM,04:12 PM,Waning Crescent,6,2025,8

In [40]:
df.columns

Index(['country', 'location_name', 'latitude', 'longitude', 'timezone',
       'last_updated_epoch', 'last_updated', 'temperature_celsius',
       'temperature_fahrenheit', 'condition_text', 'wind_mph', 'wind_kph',
       'wind_degree', 'wind_direction', 'pressure_mb', 'pressure_in',
       'precip_mm', 'precip_in', 'humidity', 'cloud', 'feels_like_celsius',
       'feels_like_fahrenheit', 'visibility_km', 'visibility_miles',
       'uv_index', 'gust_mph', 'gust_kph', 'air_quality_Carbon_Monoxide',
       'air_quality_Ozone', 'air_quality_Nitrogen_dioxide',
       'air_quality_Sulphur_dioxide', 'air_quality_PM2.5', 'air_quality_PM10',
       'air_quality_us-epa-index', 'air_quality_gb-defra-index', 'sunrise',
       'sunset', 'moonrise', 'moonset', 'moon_phase', 'moon_illumination',
       'temperature_celsius_normalized', 'precip_mm_normalized'],
      dtype='object')

In [22]:
# Descriptive statistics for numerical data
df.describe()

,latitude,longitude,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,...,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination,year,month
count,89833.000000,89833.000000,8.983300e+04,89833,89833.000000,89833.000000,89833.000000,89833.000000,89833.000000,89833.000000,...,89833.000000,89833.000000,89833.000000,89833.000000,89833.000000,89833.000000,89833.000000,89833.000000,89833.000000,89833.000000
mean,19.126089,22.169747,1.735854e+09,2025-01-02 23:43:10.526866432,22.719286,72.896442,8.285957,13.338220,170.674184,1013.957532,...,63.588081,15.513816,11.301020,26.210515,54.328310,1.760645,2.768459,50.532577,2024.504981,6.533212
min,-41.300000,-175.200000,1.715849e+09,2024-05-16 01:45:00,-24.900000,-12.800000,2.200000,3.600000,1.000000,947.000000,...,0.000000,0.000000,-9999.000000,0.168000,-1848.150000,1.000000,1.000000,0.000000,2024.000000,1.000000
25%,3.750000,-6.836100,1.725885e+09,2024-09-09 18:30:00,18.000000,64.400000,4.000000,6.500000,82.000000,1010.000000,...,43.000000,1.295000,0.800000,7.200000,10.545000,1.000000,1.000000,16.000000,2024.000000,4.000000
50%,17.250000,23.316700,1.735900e+09,2025-01-03 11:00:00,25.000000,77.000000,6.900000,11.200000,164.000000,1013.000000,...,61.000000,4.625000,2.405000,14.985000,22.015000,1.000000,2.000000,51.000000,2025.000000,7.000000
75%,40.400000,50.580000,1.745833e+09,2025-04-28 12:30:00,28.400000,83.100000,11.400000,18.400000,257.000000,1017.000000,...,80.800000,17.390000,9.065000,30.155000,46.805000,2.000000,3.000000,85.000000,2025.000000,9.000000
max,64.150000,179.220000,1.755764e+09,2025-08-21 21:15:00,49.200000,120.600000,1841.200000,2963.200000,360.000000,3006.000000,...,480.700000,427.700000,521.330000,1614.100000,6037.290000,6.000000,10.000000,100.000000,2025.000000,12.000000
std,24.470176,65.837438,1.155284e+07,NaN,9.057631,16.303510,8.090419,13.017998,103.069134,11.714129,...,32.891893,25.944353,41.990209,41.405671,164.715223,0.986852,2.585591,34.992103,0.499978,3.099967

In [10]:
# Check missing values
missing = df.isnull().sum()
print('Missing values per column:\n', missing)

Missing values per column:
 country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

In [25]:
# Check unique countries and locations
print("Countries:", df['country'].nunique())
print("Locations:", df['location_name'].nunique())

Countries: 211
Locations: 252

In [29]:
# Normalize temperature
df['temperature_celsius_normalized'] = (
    df['temperature_celsius'] - df['temperature_celsius'].min()
) / (df['temperature_celsius'].max() - df['temperature_celsius'].min())

# Normalize precipitation
df['precip_mm_normalized'] = (
    df['precip_mm'] - df['precip_mm'].min()
) / (df['precip_mm'].max() - df['precip_mm'].min())

In [30]:
print(df[['temperature_celsius', 'temperature_celsius_normalized']].head())
print(df[['precip_mm', 'precip_mm_normalized']].head())

   temperature_celsius  temperature_celsius_normalized
0                 26.6                        0.695007
1                 19.0                        0.592443
2                 23.0                        0.646424
3                  6.3                        0.421053
4                 26.0                        0.686910
   precip_mm  precip_mm_normalized
0        0.0              0.000000
1        0.1              0.002367
2        0.0              0.000000
3        0.3              0.007102
4        0.0              0.000000

In [34]:
# Select columns
selected_columns = [
    'country', 'location_name', 'last_updated',
    'temperature_celsius', 'precip_mm', 'humidity',
    'pressure_mb', 'wind_kph', 'gust_kph', 'visibility_km', 'cloud',
    'uv_index', 'feels_like_celsius',
    'air_quality_PM2.5', 'air_quality_PM10',
    'air_quality_Ozone', 'air_quality_Nitrogen_dioxide',
    'air_quality_Sulphur_dioxide', 'air_quality_us-epa-index', 'air_quality_gb-defra-index',
    'wind_direction', 'temperature_fahrenheit', 'precip_in'
]

df_selected = df[selected_columns].copy()

In [35]:
# Convert datetime and extract year, month
df_selected['last_updated'] = pd.to_datetime(df_selected['last_updated'])
df_selected['year'] = df_selected['last_updated'].dt.year
df_selected['month'] = df_selected['last_updated'].dt.month

In [36]:
# Aggregate monthly by country and location
df_agg = df_selected.groupby(['country', 'location_name', 'year', 'month']).agg({
    'temperature_celsius': 'mean',
    'precip_mm': 'sum',
    'humidity': 'mean',
    'pressure_mb': 'mean',
    'wind_kph': 'mean',
    'gust_kph': 'mean',
    'visibility_km': 'mean',
    'cloud': 'mean',
    'uv_index': 'mean',
    'feels_like_celsius': 'mean',
    'air_quality_PM2.5': 'mean',
    'air_quality_PM10': 'mean',
    'air_quality_Ozone': 'mean',
    'air_quality_Nitrogen_dioxide': 'mean',
    'air_quality_Sulphur_dioxide': 'mean',
    'air_quality_us-epa-index': 'mean',
    'air_quality_gb-defra-index': 'mean',
    'wind_direction': lambda x: x.mode()[0] if not x.mode().empty else np.nan,
    'temperature_fahrenheit': 'mean',
    'precip_in': 'sum'
}).reset_index()